:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    /*--accent1-color: #264653;
    /*--accent2-color: #e9c46a;*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*color: #264653;*/
}

header,
main,
section,
footer {
    max-width: 840px;
    margin: 0 auto;

}

header {
    background-color: #e6dcc8;
    /*color: #e9c46a;*/
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 200px);
}

h1,
h2 {
    font-family: "Times New Roman", "Georgia", serif;
    color: #000000;
}

nav,
/*p,*/
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: .5rem;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    /*opacity: 0.7;*/
    color: #FFF8DC;
}

h2 {
    text-align: center;
}

.hero article {
    position: absolute;
    top: 130px;
    height: auto;
    width: 810px;
    opacity: 0.8;
    background-color: #264653;
    color: #FFFFFF;
    padding: 1rem;
    /*border: dashed;*/
    text-align: justify;
    gap: 1rem;
}

.hero article img {
    height: auto;
    width: 150px;
    align-items: center;
    /*border: dashed;*/
    float: right;
    /*padding-right: 1rem;*/
}

.container4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.four {
    background-color: #ace;
    /*height: 50px;*/
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* write declarations here */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* enter declarations here */
}

.grid-article {
    display: grid;
    grid-template-columns: 80% 1fr;
    place-items: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /*border: dashed;*/
    /* enter declarations here */
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding: 0px;
    gap: 10px;
    margin: 0px;
}

.grid-section p {
    text-align: justify;
}

.columns-3 {
    grid-column: 1/4;
}

.img-section img {
    height: auto;
    width: 150px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 80% 1fr;
    align-items: center;
    justify-content: center;
    place-items: center;
    font-size: medium;
    background-color: #e6dcc8;
    color: #000000;

}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: auto auto;*/
    background-color: #d6c6a5;
    gap: 1rem;

    /*align-items: center;*/
    /*place-items: center;*/
}

.columns-5 {
    grid-column: 1/6;
}

.five {
    /*margin: .30rem;*/
    align-items: center;
    text-align: center;
}

/*figcaption {
    text-align: center;
}*/

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 1rem;
    /*vertical-align: middle;*/
}

nav {
    /*padding: 1rem;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    border: 1px solid;
    border-color: #000000;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    align-items: center;
    font-size: smaller;
}

.contact-detail {
    /*width: 840px;*/
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    /*border: dashed;*/
    padding: 0px;
}

.contact-detail h1 {
    text-align: center;
    color: #000000;
    width: 840px;
    top: 150px;
    left: 533px;
    padding: 0px;
    margin-top: 1rem;
}

.grid-map-form {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding: 0px;
    gap: 10px;
    /*border: dashed;*/

}

.columns-map-form-2 {
    grid-column: 1/3;
}

iframe {
    /*border: dashed;*/
    width: 400px;
    height: 400px;
    border: solid;
}

.contact-table {
    border: none;
}

.contact-table td {
    padding: .3rem;
}

input[type="radio"] {
    margin-right: .5rem;
}

input[type="text"] {
    width: 100%;
    height: 2rem;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
}

input {
    padding: 5px;
}

input,
textarea,
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

button {
    width: 100%;
    height: 2rem;
    font-weight: bold;
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: auto auto;*/
    background-color: #d6c6a5;
    gap: 1rem;

    /*align-items: center;*/
    /*place-items: center;*/
}

.employee-3 {
    grid-column: 1/4;
}

.emp-three {
    /*margin: .30rem;*/
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.main-override {
    max-width: none;
    border: dashed;
}

.hero-index img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.hero-index h1 {
    position: absolute;
    top: 620px;
    width: 100%;
    /*padding: 16px;*/
    text-align: center;
    opacity: 0.8;
    background-color: #264653;
    background-size: 500px;
    color: #FFFFFF;
    font-size: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-index-h2 {
    position: absolute;
    top: 820px;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.grid-index-section {
    display: grid;
    align-items: center;
    max-width: 840px;
    grid-template-columns: repeat(2, 1fr);
    /*padding: 1rem;*/
    margin-top: 2rem;
    /*gap: 1rem;*/
    right: 300px;
    margin-bottom: 1rem;
}

.grid-index-section img {
    width: 420px;
}

.grid-index-section p,
h3 {
    text-align: justify;
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.border-img1 {
    border-right: solid 10px;
    border-right-color: #264653;
    border-bottom: solid 10px;
    border-bottom-color: #ace;
}

.border-img2 {
    border-left: solid 10px;
    border-left-color: #264653;
    border-top: solid 10px;
    border-top-color: #ace;
}

.trip-index {
    background-color: #264653;
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1rem;
}

.trip-index h1 {
    color: #FFFFFF;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trip-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    position: relative;
    right: -280px;
    top: -25px;
}

.trip-button:hover {
    background-color: #0056b3;
}

.form-index {
    background-color: #d6c6a5;
    border: solid 1px;
    border-radius: 10px;
    width: 840px;
    height: 180px;
    margin-bottom: 1rem;
}

.form-index table {
    width: 700px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    position: relative;
    right: -50px;
}

.form-index td {
    border: none;
}

.form-index table p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-index table h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-index table button {
    width: 150px
}

.form-textbox {
    width: 300px;
    /*height: 40px;*/
    padding: 5px;
    box-sizing: border-box;
}

.hero-trips {
    position: relative;
}

.hero-trips img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-top: .5rem;
}

.hero-trips h1 {
    position: absolute;
    top: 110px;
    width: 100%;
    /*padding: 16px;*/
    text-align: center;
    opacity: 0.8;
    background-color: #264653;
    background-size: 500px;
    color: #FFFFFF;
    -webkit-text-stroke: #000000 1px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-trips {
    /*background-color: #264653;*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.contact-trips h1 {
    color: #000000;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    position: relative;
    top: 5px;
}

.contact-button:hover {
    background-color: #0056b3;
}

.grid-trips-section {
    display: grid;
    align-items: center;
    max-width: 840px;
    grid-template-columns: repeat(2, 1fr);
    /*padding: 1rem;*/
    margin-top: 2rem;
    /*gap: 1rem;*/
    right: 300px;
    margin-bottom: 1rem;
}

.grid-trips-section img {
    width: 420px;
}

.grid-trips-section p,
h3,
h4 {
    text-align: justify;
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trip-3-bg {
    background-color: #264653;
    color: #FFFFFF;
}

.trip-3-bg img {
    width: 195px;
    height: 140px;
}

.trip-overview {
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    width: 100%;
    margin-bottom: 8px;
}

.trip-overview h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.trip-overview table,
th {
    /*border: solid #264653;*/
    width: 100%;
    table-layout: fixed;
    /*border-collapse: collapse;*/
    padding: 5px;
}

.trip-overview th {
    background-color: #264653;
    color: #FFFFFF;
    text-align: left;
}

.trip-overview tr:nth-child(even) {
    background-color: #eedcb9;
}

.trip-ovr-lastcol {
    text-align: center;
}