* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 300;
}

main {
    grid-column: 2/3;
    margin: 1.5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

h1 {
    color: darkblue;
    margin: 10px 0;
    border-bottom: solid 3px firebrick;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    position: relative;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;

    /*
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center; */
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 40px;
    left: 95px;
    color: maroon;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: pink;
    color: black;

}

.grid {
    display: grid;
    align-items: center;
}